.container {
  flex-direction: column;
  align-items: center;
  width: 28rem;
}

.container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  user-select: none;
}

.container .title {
  color: var(--clr-600);
  font-size: 1rem;
  padding: 0.5rem;
}

.container .error {
  color: var(--clr-red);
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.container button {
  all: unset;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--clr-600);
  font-size: 1rem;
}
