:root {
  --clr-blue: #2082ff;
  --clr-100: #ffffff;
  --clr-200: #d0d0d0;
  --clr-600: #7e7e7e;
  --clr-900: #000000;

  --font: 'roboto';
  --main-radius: 0.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
